<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>schedule</title>
</head>
<body>

  <div class="wrapper">
    <div class="menu-side">
      <!-- 工事登録機能 -->
      <div class="side-top">
        <div class="new-construction">新規工事

        </div>
      </div>
      <!-- 工事登録機能 -->
      <!-- 工事一覧表示 -->
      <div class="construction">
      <ul class='construction-lists'>工事一覧表示
  

      </div>
    </div>
      <!-- 工事一覧表示 -->
      <div class="schedule-main">
      <!-- スケジュール投稿機能 -->
      <div class="new-schedule ">
        スケジュール投稿機能
      </div>
      <!-- スケジュール投稿機能 -->
      <!-- スケジュール表示 -->
      <div class="three-months">
        <div class="last-month">
        </div>
        <div class="this-month">
        </div>
        <div class="next-month">
        </div>
      </div>
      <!-- スケジュール表示 -->
    </div>
  </div>
</body>
</html>
